@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


@theme {
    --font-urbanist: "Urbanist", sans-serif;
    --font-archivo: "Archivo", sans-serif;

    --color-very-dark-gray: #0D0D0D;
    --color-very-dark-blue-purple: #210140;
    --color-dark-violet: #3B0273;
    --color-vivid-violet: #8507D9;
    --color-strong-violet: #6503A6;
    --color-gray-light: #F1F1F1 ;
    --color-muted-gray:#756C6C;
}